@import "tailwindcss";

@theme {

  --breakpoint-3xl: 120rem;
  --breakpoint-xsm: 25rem;
  --font-garamond: "Cormorant Garamond", serif;
   --font-montserrat: "Montserrat", sans-serif;
    --font-inter: "Inter", sans-serif;
}

@keyframes line-draw-erase {
  0% { transform: scaleX(0); }
  50% { transform: scaleX(1); }
  100% { transform: scaleX(0); }
}
