@import "tailwindcss";

@theme {

  --breakpoint-3xl: 120rem;
  --font-garamond: "Cormorant Garamond", serif;
}

@keyframes line-draw-erase {
  0% { transform: scaleX(0); }
  50% { transform: scaleX(1); }
  100% { transform: scaleX(0); }
}
